/*!
 * SernProgramming Custom Theme - Built on top of the Bootstrap Framework
 */

@import "bootstrap/bootstrap.less";
@import "project-variables.less";

// Custom Mixins
// REM Font Sizing
.font-size(@sizeValue) {
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);
  font-size: ~"@{pxValue}px";
  font-size: ~"@{remValue}rem";
}



/* ==========================================================================
   Base
   ========================================================================== */
body,html { height: 100%; }

body{
  font-family: @project-font-main;
  line-height: 1.6;
}

.grey-bg { background-color: @project-grey; }

/* ==========================================================================
   Typography
   ========================================================================== */
h1,h2,h3,h4,h5,h6{
  color: @project-orange;
  font-family: @project-font-headings;
}

.text-orange{	color: @project-orange;}


blockquote{
  background-color: #F2F2F2;
  border-color: #7bb4d9;
}

blockquote p{
  color: #7C7C7C;
  font-style: italic;
  font-weight: 300;
}

/* ==========================================================================
   Custom Buttons
   ========================================================================== */
.btn:hover{ color: @project-orange; }

.btn-blue{
  background-color: @project-medium-blue;
  border-color: @project-dark-blue;
  color: #FFF;
}

.btn-orange{
  background-color: @project-orange;
  color: #FFF;
}

.btn-orange:hover{
  color: @project-medium-blue;
}


/* ==========================================================================
   Navbar Styling
   ========================================================================== */
.navbar{
  border: none !important;
  margin-bottom: 0px !important;

}

.navbar-default{ background-color: @project-medium-blue; }

.navbar-nav { float: right; }

.navbar-default .navbar-brand {
  color: #FFF;
}

.navbar-brand{
 font-family: 'Marcellus SC', serif;
 font-size: 30px;
 font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
  color: #FFF;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
  background-color: inherit;

  color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
  color: @project-orange;
}

.navbar-nav>.active>a:before,
.navbar-nav>.active>a:after{
  color: @project-orange;
}

.navbar-nav>.active>a:before {
  content: '{';
  margin-right: 5px;
}

.navbar-nav>.active>a:after {
  content: '}';
  margin-left: 5px;
}

.navbar-default .navbar-brand{
  color: @project-orange;
}

.navbar-default .navbar-brand:hover{
  color: #FFF;
}

.navbar-default .navbar-brand:focus{
  color: @project-orange;
}

/* ==========================================================================
   Mobile Nav
   ========================================================================== */
.navbar-default .navbar-toggle{
  width: 25%;
  border: 0px !important;
  background-color: @project-orange;
  border-radius: 0px;
  height: 50px;
  float: right;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
  background-color: @project-dark-blue;
}

.navbar-toggle{
  margin: 0px;
}

.navbar-toggle .icon-bar{
  width: 42px;
  height: 3px;
  margin: 0 auto;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #FFF;
}

.navbar-collapse{
  background-color: @project-dark-blue;
  border-top: none;
  float:none;
  text-align: center;
}

.navbar-nav{
  text-align: center;
  float: none;
}

/* ==========================================================================
   Header
   ========================================================================== */
.header-wrap, .header-overlay, .header-img{ height: 100%; }

.header-wrap{
  min-width: 100%;
}

.header-img {
  background-image: url('../img/sern-main-img.jpg');
  height: 100%;
  background-size: auto 100%;
  background-position: center 0;
  background-repeat: no-repeat;
}

.header-overlay{
  background-color: rgba(0,0,0,0.6);
}

.header-copy{
  margin-top: 20px;
  color: #FFF;
  .font-size(2);
  position: absolute;
  text-align: center;
  top: 25%;
  width: 100%;
}

.header-copy .text-large{
  .font-size(3);
}

.header-scroll-wrap{
  background-color: rgba(255,255,255,0.7);
  .font-size(2);
  height: 125px;
  margin: 0 auto;
  margin-top: 10%;
  width: 125px;

}

.header-scroll {
  background-color: @project-medium-blue;
  display: inline-block;
  height: 100px;
  margin: 0 auto;
  margin-top: 13px;
  width: 100px;
}

.header-scroll a{
  color: #FFF;
  display: block;
  height: 100px;
  padding-top: 25px;
  text-decoration: none;
  width: 100px;
}

.header-scroll-btn:after {
  color: @project-orange;
  content: "\e114";
  display: block;
  font-family: 'Glyphicons Halflings';
}

/* ==========================================================================
   Home Page - Widgets and Strengths Area
   ========================================================================== */

.sern-widget-area,
.sern-strengths-area{
  padding-top: 50px;
  padding-bottom: 50px;
}

.sern-widget-area h2,
.sern-strengths-area h2{
  color: @project-orange;
}

.sern-widget-wrapper,
.sern-strengths-area{
  padding-top: 30px;
}

.sern-widget{
  background-color: @project-grey;

}
.sern-widget-header{
  background-color: @project-medium-blue;
  padding: 5px 0 5px 20px;
  width: 100%;
}

.sern-widget-header a {
  color: #FFF;
}

.sern-widget-header h4{
  color: #FFF;
  font-weight: 300;
}

.sern-widget-content{
  background-color: #FFF;
  margin: 8px 8px 0 8px;
  padding: 10px 0 10px 10px;
}



.sern-widget-content h5 {
  font-size: 16px;
  margin-top: -5px;
}

.sern-widget-btn{
  padding: 5px;
}

.sern-strengths-title{
  color: @project-medium-blue;
  font-weight: 700;
  .font-size(1.8);
  text-align: center;
}

.strengths-cta-wrap{
  padding-top: 50px;
}

.sern-github-repo-list,
.sern-languages-list,
.sern-toolbox-list {
  list-style: none;
  padding-left: 0px;
}

.sern-toolbox-list kbd {
  font-size: 80%;
}

.sern-toolbox-list {
  width: 100%;
}

.sern-github-repo-list li ,
.sern-languages-list li,
.sern-toolbox-list li{
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 5px;
  padding-top: 5px;
}

.sern-github-repo-list li:first-child{
  padding-top: 0px;
}

.sern-github-repo-list li:last-child,
.sern-languages-list li:last-child,
.sern-toolbox-list li:last-child{
  border-bottom: 0px;
}

.sern-github-repo-list li:before{
  display: inline-block;
  width: 30px;
  height: 20px;
  margin-right: 4px;
  text-indent: 6px;
  vertical-align: middle;
  background: url('../img/sprite.png') -47px -151px no-repeat;
  content: "";
}

.sern-github-meta {
  font-size: 13px;
  position: absolute;
  right: 10%;
}

.sern-github-meta .badge{
  background-color: @project-light-blue;
}

.sern-github-meta a{
  color: #8A8A8A;
}

.sern-languages-list progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;
  float: right;
  width: 100%;
  height: 20px;
}

.sern-languages-list progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.sern-languages-list progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(top, rgba(101, 190, 112, .25),rgba(109, 205, 121, .25)),
	   -webkit-linear-gradient(left, #65be70, #6dcd79);
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}


/* ==========================================================================
   About Page
   ========================================================================== */
.sern-gravatar {
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 25px;
  width: 150px;
}

.sern-gravatar small{
  font-style: italic;
}

.sern-resume-wrapper{
  background-color: #efefef;
  min-height: 75px;
  padding-bottom: 25px;
  padding-top: 25px;
  text-align: center;
}

/* ==========================================================================
   Portfolio and Custom Taxonomy Archives
   ========================================================================== */
.sern-project-desc-wrap {
  min-height: 100px;
}

.sern-stats {
  margin: 0 auto;
  min-height: 100px;
  padding-left: 0px;
}


.sern-stats li {
  list-style: none;
  padding: 5px 5px 5px 0px;
  text-align: center;
}



.sern-stats h2{
  color: @project-light-blue;
}

.sern-stats small{
  font-size: 15px;
  font-weight: 100;
}

.pager{
  padding-left: 15px;
}

.pager .previous>a, .pager .previous>span, .pager .next>a, .pager .next>span{
  margin-top: 15px;
}


/* ==========================================================================
   isotope Portfolio
   ========================================================================== */
.filters-button-group {
    padding-bottom: 40px;
}

.btn-orange.is-checked{
  background-color: @project-dark-blue;
  color: #FFF;
}

/* ==========================================================================
   Content
   ========================================================================== */

.content { padding-bottom: 50px;}



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { min-height: 65vh; }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */
footer{
  color: #FFF;
  padding-top: 20px;
  min-height: 200px;
}

.content-info{
  background-color: @project-medium-blue;
}

footer h4{
  color: @project-orange;
}

.sern-contact-list{
  width: 300px;
  margin: 0 auto;
}

.sern-contact-list li{
  float: left;
  height: 50px;
  list-style: none;
  margin: 15px;
  width: 50px;

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.sern-contact-list a {
  display: block;
  height: 50px;
  text-indent: -9999px !important;
  width: 50px;
}

.contact-github{
  background: url('../img/sprite.png') -31px -8px no-repeat;
}

.contact-github:hover{
  background: url('../img/sprite.png') -31px -74px no-repeat;
}

.contact-facebook{
  background: url('../img/sprite.png') -124px -8px no-repeat;
}

.contact-facebook:hover{
  background: url('../img/sprite.png') -124px -73px no-repeat;
}

.contact-linkedin{
  background: url('../img/sprite.png') -212px -8px no-repeat;
}

.contact-linkedin:hover{
  background: url('../img/sprite.png') -212px -73px no-repeat;
}

.copyright {
  padding-top: 50px;
  .font-size(1.3);
  text-align: center;
}

.content-info { }

/* ==========================================================================
   Next and Previous Post Buttons
   ========================================================================== */
.pager li>a, .pager li>span{
  background-color: @project-orange;
  color: #FFF;
}

.pager li>a:hover, .pager li>span:hover{
  background-color: @project-medium-blue;
  color: @project-orange;
}

.pager:before{
  clear: both;
}


/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft {
  float: left;
  margin: 0px 25px 0 10px;
}
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) {
.header-copy{

  .font-size(2.5);
}
.header-copy .text-large{
  .font-size(6.5);
}

.sern-widget-wrapper,
.sern-strengths-area{
  min-height: 350px;
}
}

@media (min-width: @screen-md-min) {

.header-img {
  background-size: 100% 100%;
}

.navbar-collapse{
  background-color: @project-medium-blue;
}

.navbar-nav{
  text-align: center;
  float: right;
}

.header-copy{
bottom: 0px;
  .font-size(3.3);
}
.header-copy .text-large{
  .font-size(8.5);
}

.sern-widget-area,
.sern-strengths-area{
 padding: 50px;
}

.sern-stats {
  width: 300px;
}

.sern-stats li{
  float: left;
  width: 100px;
}

.sern-stats li:hover{
  border-bottom: 2.5px solid @project-orange;
  border-radius: 1px;
}

.sern-languages-list progress[value] {
  padding-right: 8px;
  width: 200px;
}



}

@media (min-width: @screen-lg-min) { }
